img.card-img-left {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.round img {
    width: 50px;
}

.fixed {
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

.app-search {
    display: none;
}
