img.card-img-left {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.round img {
    width: 100px;
    height: 80px;
}

.fixed {
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

.app-search {
    display: none;
}

.word {
    width: 50px;
}

.unread-notification {
    background: #f2f4f8;
}

#chart{
    min-width: 310px; 
    height: 250px; 
    margin: 0 auto;
}
