img.card-img-left {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.round img {
    width: 100px;
    height: 80px;
}

.fixed {
    position: fixed;
    display: flex;
    justify-content: flex-end;
}
